/*
=============== 
Variables
===============
*/

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: rgba(224, 219, 219, 0.493);
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
}

@media screen and (min-width: 992px) {
  .section {
    width: 95vw;
  }
}
.btn {
  background: hsl(205, 78%, 60%);
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  text-transform: capitalize;
  color: white;
  letter-spacing: 0.1rem;
  border-color: transparent;
  cursor: pointer;
  margin-top: 2rem;
  font-size: 1.2rem;
}
/*
=============== 
Tours
===============
*/
main {
  width: 90vw;
  max-width: 620px;
  margin: 5rem auto;
}
.loading {
  text-align: center;
}
.title {
  text-align: center;
  margin-bottom: 4rem;
}

.title h2 {
  font-family: sans-serif;
}
.underline {
  width: 6rem;
  height: 0.25rem;
  background: black;
  margin-left: auto;
  margin-right: auto;
}

.single-beer {
  background: white;
  border-radius: 0.25rem;
  margin: 2rem 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s linear;
  text-align: center;
  display: flex;
}

.single-beer h3 {
  color: rgb(91, 139, 212);
}

.single-beer:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.single-beer img {
  /* width: 100%;
  height: 20rem; */
  height: 20rem;
  object-fit: cover;
  border-top-right-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  margin: 0.5rem;
}
.beer-info h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
  font-size: 15px;
  color: rgba(32, 35, 39, 0.808);
  text-transform: none;
}

footer,
p {
  font-family: serif;
}

.beer-info {
  margin-top: 1rem;
}

.beer-info p {
  color: rgba(255, 0, 0, 0.5);
  font-weight: bold;
}

.beer-info h4 {
  margin-bottom: 0;
}
.single-beer button {
  background: transparent;
  border-color: transparent;
  text-transform: capitalize;
  color: hsl(205, 78%, 60%);
  font-size: 1rem;
  cursor: pointer;
  padding-left: 0.25rem;
}
.beer-price {
  color: hsl(205, 78%, 60%);
  background: hsl(205, 100%, 96%);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}
.single-beer footer {
  padding: 1.5rem 2rem;
}
.single-beer .delete-btn {
  display: block;
  width: 200px;
  margin: 1rem auto 0 auto;
  color: hsl(360, 67%, 44%);
  letter-spacing: 0.1rem;
  background: transparent;
  border: 1px solid hsl(360, 67%, 44%);
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
}

.real-footer {
  height: 20vh;
  width: 100%;
  margin-bottom: -70px;
  text-align: center;
  background: rgba(0, 0, 0, 0.596);
  color: white;
}
